{% extends "base.html" %}{% load static %}
 
{% block title %}トップ画面{% endblock %}
{% block content %}

<form method="get" action="{% url 'home' %}">
  <input type="text" name="q" value="{{ seach_text }}" placeholder="検索...">
  <button type="submit">検索</button>
</form>
<br>

<form method="get">
  <label for="order_by">並べ替え:</label>
  <select name="order_by" id="order_by" onchange="this.form.submit()">
    <option value="-id" {% if current_order == '-id' %}selected{% endif %}>新着順</option>
    <option value="name" {% if current_order == 'name' %}selected{% endif %}>名前昇順</option>
    <option value="-name" {% if current_order == '-name' %}selected{% endif %}>名前降順</option>
  </select>
</form>


<div class="text-center my-5">
  <div class="mb-5">
    <h2>店舗一覧</h2>
  </div>
  <div class="row">
    {% for store in object_list %}
    <div class="col-lg-2 col-md-6">
      <div class="card img-thumbnail storelist mb-3">
        <img
          class="card-img-top card-thum"
          src="{{ store.image.url }}"
          alt=""
        />
        <div class="card-body text-center px-2 py-3">
          <h5 class="font-weight-bold">{{ store.name }}</h5>
          <p>{{ store.address }}</p>
        </div>
        <a class="stretched-link" href="{% url 'store_detail' store.id %}"></a>
      </div>
    </div>
    {% empty %}
    <p>まだ店舗がありません</p>
    {% endfor %}
  </div>
</div>

<div>
  <h4>カテゴリー</h4>
  <!-- context.pyのオブジェクトを取得しています。（category_list）-->
  {% for category in categorys %}
      <a href="{% url 'home' %}?category={{ category.id }}">
        <button style='float: left; 
        margin-right: 5px; 
        background: lime; 
        border-radius: 5px;'> {{ category.name }} 
        </button>
      </a>
  {% endfor %}
</div>
<br>
<br>

<!-- 並び替えjavascript -->
<script>
  // ドロップダウンリストの値が変更されたときに実行
  document.getElementById('order_by').addEventListener('change', function() {
    // 選択された値をローカルストレージに保存
    localStorage.setItem('selectedOrder', this.value);
    // フォームを送信
    document.getElementById('sort_form').submit();
  });

  // ページ読み込み時に実行
  window.onload = function() {
    // ローカルストレージから値を取得
    var selectedOrder = localStorage.getItem('selectedOrder');
    if (selectedOrder) {
      // ドロップダウンリストで選択された状態に設定
      document.getElementById('order_by').value = selectedOrder;
    }
  };
</script>

{% endblock %}