{% extends "base.html" %}{% load static %}
{% block title %}カテゴリー一覧{% endblock %}
{% block content %}
<form method="get" action="{% url 'category_list' %}">
  <input type="text" name="q" value="{{ seach_text }}" placeholder="検索...">
  <button type="submit">検索</button>
</form>

<div class="text-center my-5">
  <div class="mb-5">
    <h2>カテゴリー一覧</h2>
    <a href="{% url 'category_create' %}">カテゴリー登録</a>
  </div>
  <div class="row">
    {% for category in object_list %}
    <div class="col-lg-2 col-md-6">
      <div class="card img-thumbnail storelist mb-3">
        <div class="card-body text-center px-2 py-3">
          <h5 class="font-weight-bold">{{ category.name }}</h5>
          <a href="{% url 'category_edit' category.id %}">編集</a>
          <a href="{% url 'category_delete' category.id %}">削除</a>
        </div>
      </div>
    </div>
    {% empty %}
    <p>カテゴリーがありません</p>
    {% endfor %}
  </div>
</div>

{% endblock %}