{% extends 'base.html' %}

{% block title %}予約{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  
  <div>
      <label for="first_name">名前:</label>
      {{ form.first_name }}
  </div>
  
  <div>
      <label for="last_name">姓:</label>
      {{ form.last_name }}
  </div>
  
  <div>
      <label for="tel">電話番号:</label>
      {{ form.tel }}
  </div>
  
  <div>
      <label for="remarks">人数・備考:</label>
      {{ form.remarks }}
  </div>
  
  <div>
      <label for="start_date">開始日:</label>
      {{ form.start_date }}
  </div>
  
  <div>
      <label for="start_time">開始時間:</label>
      {{ form.start_time }}
  </div>
  
  <button type="submit">予約する</button>
</form>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>エラーが発生しました：</strong>
    {% for field in form %}
        {% for error in field.errors %}
            <p>{{ error|escape }}</p>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <p>{{ error|escape }}</p>
    {% endfor %}
</div>
{% endif %}


{% endblock %}