{% extends "base.html" %}
{% block title %}予約一覧{% endblock %}
{% block content %}
<h1>予約一覧</h1>

{% for booking in booking_data %}
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body px-2 py-1">
        <div class="p-4 text-left">
          <h3>{{ booking.store }}店</h3>
          <p>予約日時: {{ booking.start }}</p>
          <p>人数：コメント：{{ booking.remarks }}</p>
          <a href="{% url 'booking_cancel' booking.id %}">予約キャンセル</a>
        </div>
      </div>
    </div>
  </div>
  
  {% empty %}
  <p>まだ予約がありません</p>
  {% endfor %}


{% endblock %}