{% extends "base.html" %} {% block content %}


<div class="text-center my-5">
  <div class="row">
    <div class="col-md-6 mb-4 text-center stafflist">
      <img src="{{ store_data.image.url }}" class="img-fluid" alt="" />
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body px-2 py-1">
          <div class="p-4 text-left">
            <h3>{{ store_data.shop_name }}店</h3>
            <hr />
            <p>住所：{{ store_data.address }}</p>
            <p>TEL：{{ store_data.tel }}</p>
            <p>{{ store_data.description|linebreaksbr }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<a href="{% url 'review_create' store_data.id %}">レビュー</a>

{% endblock %}